---
layout: page
title: Data Mining Lab @ Kookmin University
permalink: /
---

<!-- Slider Start -->
<!-- <section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">-->
      <!-- <div class="col-md-12"> -->
        <!-- <div class="block">
          <h1 class="animated fadeInUp">A DIGITAL MARKETING &#38; <br> DESIGN AGENCY</h1> -->
          <!--<h1 class="animated fadeInUp">DATA MINING LAB</h1>
          <p class="animated fadeInUp">Welcome to Data Mining Lab at Kookmin University.</p>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section id="global-header">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="block">
                  <h1>DATA MINING LAB</h1>
                  <p>Welcome to Data Mining Lab at Kookmin University.</p>
              </div>
          </div>
      </div>
  </div>
</section>

<section id="clients-logo-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div class="section-title">
            <h2>Research Interests</h2>
          </div>
          <div style="color:gray">
            <div class="dot">
              <img src="img/dot.png" style="width:0.5cm; height:0.5cm; float:left; margin-right:0.1cm"><h4 style="position:relative;"><b>Large scale graph mining</b> <br> <br></h4>
            </div>
            <div class="dot">
              <img src="img/dot.png" style="width:0.5cm; height:0.5cm; float:left; margin-right:0.1cm"><h4 style="position:relative;"><b>Graph algorithms</b> <br><br></h4>
            </div>
            <div class="dot">
              <img src="img/dot.png" style="width:0.5cm; height:0.5cm; float:left; margin-right:0.1cm"><h4 style="position:relative;"><b>Scalable machine learning and data mining</b> <br><br></h4>
            </div>
            <div>
              <img src="img/dot.png" style="width:0.5cm; height:0.5cm; float:left; margin-right:0.1cm"><h4 style="position:relative;"><b>Distributed System</b><br><br> </h4>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="portfolio-work">
  <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block">
            <div class="section-title">
              <h2>People</h2>
            </div>
            <div class="portfolio-menu">
              <ul>
                  <li class="filter" data-filter="all">All</li>
                  <li class="filter" data-filter=".Prof">Professor</li>
                  <li class="filter" data-filter=".Master">Master Students</li>
                  <li class="filter" data-filter=".Undergraduate">Undergraduate Students</li>
              </ul>
            </div>
            <div class="portfolio-contant">
              <ul id="portfolio-contant-active">
                  <li class="mix Prof">
                    <a href="#">
                      <img src="{{ site.baseurl }}/img/people/hmpark.jpg" alt="professor">
                      <div class="overly">
                        <div class="position-center" style="text-align: left;">
                          <h2>Ha-Myung Park</h2>
                          <p>hmpark@kookmin.ac.kr</p>  
                          <p><a href="https://hmpark.me">hmpark.me</a></p>
                        </div>
                      </div>
                    </a>
                </li>
                <li class="mix Master">
                  <a href="#">
                    <img src="{{ site.baseurl }}/img/people/cekim.png" alt="master">
                    <div class="overly">
                      <div class="position-center" style="text-align: left;">
                        <h2>Chaeeun Kim</h2>
                        <p>cekim@kookmin.ac.kr</p>
                        <p><a href="https://dongchime.github.io">dongchime.github.io</a></p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mix Undergraduate">
                  <a href="#">
                    <img src="{{ site.baseurl }}/img/people/human.png" alt="">
                    <div class="overly">
                      <div class="position-center">
                        <h2>Yoo</h2>
                        <p>yoo@email.com</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mix Undergraduate">
                  <a href="#">
                    <img src="{{ site.baseurl }}/img/people/human.png" alt="">
                    <div class="overly">
                      <div class="position-center">
                        <h2>Heo</h2>
                        <p>Heo@email.com</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mix Undergraduate">
                  <a href="#">
                    <img src="{{ site.baseurl }}/img/people/human.png" alt="">
                    <div class="overly">
                      <div class="position-center">
                        <h2>Joe</h2>
                        <p>Joe@email.com</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mix Undergraduate">
                  <a href="#">
                    <img src="{{ site.baseurl }}/img/people/human.png" alt="">
                    <div class="overly">
                      <div class="position-center">
                        <h2>Kim</h2>
                        <p>Kim@email.com</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="mix Undergraduate">
                  <a href="#">
                    <img src="{{ site.baseurl }}/img/people/human.png" alt="">
                    <div class="overly">
                      <div class="position-center">
                        <h2>Han</h2>
                        <p>Han@email.com</p>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>

<!-- <section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Recent News from DMLAB</h2>
        <p></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>"大学生连续创业者，2014年，创建校内创业协会。2015年，创建北京高校国际文化交流联盟。2016年，完成中国徒步搭车旅行。人生信条：永远想不到下一秒会发生什么。Be a person who you love to be !"</p>
                <div class="user">
                  <img src="img/boss1.jpg" alt="Pepole">
                  <p><span>陈帅</span>校园VC CEO</p>
                </div>
            </div>
            <div>
              <img src="img/cotation.png" alt="IMG">
                <p>"1996年，荷兰马斯特里赫特管理学院攻读MBA。2000年，微软担任产品市场经理，发布Windows2000。2005年，创办高科技产业趋势研究公司In-Stat。2008年，创办爱就推门玩具公司。2015年，创办米贵创业营。2015年，受邀担任清华x-lab创业导师。"</p>
                <div class="user">
                  <img src="img/boss2.jpg" alt="Pepole">
                  <p><span>殷建松</span>校园VC联合创始人</p>
                </div>
            </div> 
           
          </div>
        </div>
      </div>
     
    </div>
  </div> 
</section> -->

<!-- Wrapper Start -->
<!-- <section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Recent news from DMLAB</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id </p>
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div>
    </div>
  </div>
</section> -->



<!-- <section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>WE BELIEVE IN GREAT IDEAS</h2>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <a href="#" class="btn btn-view-works">View Works</a>
    </div>
  </div>
</div>
</section> -->

<!-- Service Start
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Services</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Branding</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Web Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>App Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Start Up</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Logo Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Development</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!--Call to action Start
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We design delightful digital experiences.</h2>
          <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a>
        </div>
      </div>
    </div>
  </div>
</section>
-->
<!-- Content Start
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
 -->
